In [27]:
import os 
import pandas as pd

import plotly.express as px
from IPython.display import HTML

pd.set_option('display.max_columns', None)

ROOTDIR = os.path.dirname(os.getcwd())
DATADIR = os.path.join(ROOTDIR, 'data')
 
RAWDATA = os.path.join(DATADIR, 'raw.csv')

In [28]:
df = pd.read_parquet(os.path.join(DATADIR, 'clean.parquet'))
df.head()

,date,desc,cat,amount,name,note,ym
0,2018-11-11 11:45:52,fgtofg,None,200.00,gunzinger,fgtofg,2018-11-01
1,2018-11-11 11:52:40,p9811069,None,-200.00,fabian gunzinger,p9811069,2018-11-01
2,2018-11-18 16:19:23,waitrose london gbr,groceries,-2.99,waitrose & partners,None,2018-11-01
3,2018-11-18 16:21:02,tesco stores 5103 hammersmith gbr,groceries,-5.05,tesco,None,2018-11-01
4,2018-11-19 05:35:02,tfl travel charge tfl.gov.uk/cp gbr,transport,-12.40,transport for london,"travel charge for monday, 19 nov",2018-11-01

In [41]:
def load_data():
    url = 'https://docs.google.com/spreadsheets/d/'
    sheet_id = '1N9obnCF3fdjq2sOL0uvkVhbhpmZFOtkssXjCdTGfJak'
    tab_id = '1646235209'
    path = f'{url}{sheet_id}/export?format=csv&gid={tab_id}'
    return pd.read_csv(path, parse_dates={'date': ['Date', 'Time']})

df = load_data()
df.head()

,Transaction ID,Date,Time,Type,Name,Emoji,Category,Amount,Currency,Local amount,Local currency,Notes and #tags,Address,Receipt,Description,Category split
0,tx_00009ceGW7oBS9iQEHznxB,2018-11-11,2020-08-25 11:45:52,Faster payment,GUNZINGER,NaN,General,200.00,GBP,200.00,GBP,FGtoFG,NaN,NaN,FGtoFG,NaN
1,tx_00009ceH7gJC93F2Z8eJ7Z,2018-11-11,2020-08-25 11:52:40,Faster payment,Fabian Gunzinger,NaN,General,-200.00,GBP,-200.00,GBP,P9811069,NaN,NaN,P9811069,NaN
2,tx_00009ctAWUp6CRG1sMr9uL,2018-11-18,2020-08-25 16:19:23,Card payment,Waitrose & Partners,üçè,Groceries,-2.99,GBP,-2.99,GBP,NaN,116-128 North End Road,NaN,WAITROSE LONDON GBR,NaN
3,tx_00009ctAfeYPOFHTYTDFab,2018-11-18,2020-08-25 16:21:02,Card payment,Tesco,üçè,Groceries,-5.05,GBP,-5.05,GBP,NaN,112 North End Road,NaN,TESCO STORES 5103 HAMMERSMITH GBR,NaN
4,tx_00009cuJX410Rx7cf2Wo0v,2018-11-19,2020-08-25 05:35:02,Card payment,Transport for London,üöá,Transport,-12.40,GBP,-12.40,GBP,"Travel charge for Monday, 19 Nov",NaN,NaN,TfL Travel Charge TFL.gov.uk/CP GBR,NaN

# Resources

- Using Plotly for Jupyter Lab and Fastpages ([link](https://colab.research.google.com/github/binnisb/blog/blob/master/_notebooks/2020-04-02-Plotly-in-lab.ipynb#scrollTo=TWW5ogvQPEk1))